.container{
    padding: 0px;
	background-color:#ebebff;
    width: 100%;
    display:flex;
}

.item1{
   flex:1;
   /* 可以讓第一個item靠左對齊 */
   color:black;
   font-size: 25px;
   padding: 0px;
   padding-left: 10px;
   margin:5px;
}
.item2{
    font-size: 15px;
    /* margin-left: auto; */
    color:black;
    padding: 5px;
    /* padding-right: 10px; */
    margin:10px;
 }

.p1{
    background-color: #ebffff;
    text-align: center;
    /* 也可以用padding寫法讓高度置中 */
    line-height: 100px;
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: 50px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0PX;
    display: block;
}

.p2{
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0PX;
}
/* 四個方塊 */
.content{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
}
/* 第一個方框 */
.name1{
    color: #fff;
	margin: 5px;
    padding: 5px;	
	background: #3db5da;
    width:300px;
}

.name2{
    color: #fff;
	margin: 5px;
    padding: 5px;	
	background: #3db5da;
    width:300px;

}

.btn-toggle:hover {
    background-color: var(--color-hide-dark);
  }

.container2{
    display: flex;
    justify-content:center;
    margin-top: 10x;
}

button {
    color:black;
    font-size: 1em;
    padding: 1em;
    background-color: var(--color-add);
    border: none;
    cursor: pointer;
    background-color: aquamarine;
  }
img{
    width: 30px;
    height:30px;
}

.list{
     display: none;
     margin-bottom: 10px;
}

@media(min-width:1200px){
    .content{
        padding-right:0px;
        padding-left:0px;
        width:1200px;
        /* 設定高度方向改為column */
        flex-direction: column;
        height: 240px;
        /* margin:0 auto可以讓區塊置中 */
        margin: 0 auto;
    }
    .name1{
        margin-left:0px;
        width: 585px;
        height:100px;
    }
    .name2{
        width: 585px;
        height:100px;
    }

}
/* 結束 */
